.chart__circlegraph {

  .circlegraph__background {
    width: 172px;
    height: 172px;
    background-color: white;
    border-radius: 50%;
    position: relative;
  
  .circlegraph__title {
    font-weight: bold;
}

  .circlegraph__legend {
   font-size: 20px;
   text-align: center;

   .circlegraph__legend--graph {
    font-weight: bold;
  }
 
  .circlegraph__legend--text {
    color: #747474;
      }
    }
  } 
}

 

 